

<nav>
  <ul class="nav nav-tabs nav-justified">
    <li><a href="{{ url_for('main.index') }}">Home</a></li>
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    <li><a href="{{ url_for('play.start_game') }}">Play</a></li>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
    {% endif %}
  </ul>
</nav>