<!--  -->
<body>
    <link rel="stylesheet" href="leaderboard.css">

    <div class="content">
        <nav>
            <ol>
                <li><a href="">Home</a></li>
                <li><a href="">Play</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Logout</a></li>
            </ol>
        </nav>
            
        <h1>Solo Timed Leaderboard</h1>
        <form id="form">
            <div>
                <ol class="leaderboard">
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                    <li>playername + score</li>
                </ol>
                <h3>Personal Best: (score)</h3>
            </div>
        </form>
    </div>
</body>