/* Brandon CSS file for endless.html */


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 64px;
}
/* Question */
p {
    text-align: center;
    padding: 32px;
    justify-content: center;
    font-size: xx-large;
    font-weight: 600;
    height: 100px;
}
/* Answers */
div.flex-container ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Answer Options */
.flex-container ol li {
    justify-content: center;
    align-items: center;
  }

/* answer selection buttons */

.content {
    justify-content: center;
    align-items: center;
}

form {
    justify-content: center;
}
form div.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding-top: 32px;
}

button.answer_btn {
    width: 200px;
    height: 100px; 
    justify-content: center;
    align-items: center;
    display: inline;
    flex-wrap: wrap;
    font-size: xx-large;
}

