h1.title {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}
h1.highscore {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}
label, form {
    display: flex;
    justify-content: center;
    padding: 3px 10px;
}
